.service {
    background-color: #2D2E32;
    padding: 5rem 0;

    h2 {
        color: white;
        font-size: 2.5rem;
    }

    p {
        color: #B6B4B4;
    }

    .first {
        background-color: #212122;
        border-radius: 5px;
        padding: 0;
        margin-top: 5rem;

        @media screen and (max-width: 991px) {
            padding: 30px;
        }

        p {
            text-align: justify;
            margin: 0;

            @media screen and (max-width: 991px) {
                margin-top: 2rem;
            }
        }
    }

    .kikyou-img {
        @media screen and (max-width: 767px) {
            width: 100%;
        }

        ;
    }

    .navgate-tab {
        margin-top: 5rem;

        .nav-item {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @media screen and (max-width:1199px) {
                width: 150px;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            ;
        }

        .nav-tabs {
            width: 100%;

            @media screen and (max-width: 1199px) {
                display: flex;
                justify-content: space-between;
            }

            ;

            @media screen and (max-width: 767px) {
                width: 100%;
                justify-content: center;
                flex-direction: column;
            }

            ;
        }

        .nav-link-tab {
            background-color: #212122;
            border-radius: 10px;
            padding: 10px 20px;
            color: #B6B4B4;
            width: 250px;
            text-align: center;
            margin-bottom: 20px;

            @media screen and (max-width:1199px) {
                width: 150px;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 10px;
            }

            ;
        }

        .active.nav-link-tab {
            border: 1px solid #C800CC;
        }

        .tab-content {
            margin: 10px 35px;
            border-top: 2px solid #FFFFFF10;

            @media screen and (max-width:1199px) {
                margin: 10px 0;
            }

            @media screen and (max-width: 767px) {
                margin: 10px;
            }

            ;
        }

        .row-tab {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .col-tab {
                background-color: #212122;
                border-radius: 10px;
                height: 200px;
                padding: 50px;
            }
        }


    }

}